:root {
    --primary-bg-color: #0a0a0a;
    --primary-text-color: #e0e0e0;
    --accent-color: #0095ff;
    --accent-light-color: #00c3ff;
    --white: #fff;
    --border-color: rgba(0, 149, 255, 0.1);
    --overlay-color: rgba(0, 149, 255, 0.05);
    --box-shadow-color: rgba(0, 149, 255, 0.3);
    --hover-shadow-color: rgba(0, 149, 255, 0.5);
    --card-border-color: rgba(0, 149, 255, 0.2);
    --gray-light: #ccc;
    --gray-dark: #aaa;
}

:root.light-theme {
    --primary-bg-color: #ffffff;
    --primary-text-color: #000000;
    --accent-color: #0077cc;
    --accent-light-color: #66aaff;
    --white: #000;
    --border-color: rgba(0, 0, 0, 0.1);
    --overlay-color: rgba(0, 0, 0, 0);
    --box-shadow-color: rgba(0, 0, 0, 0.3);
    --hover-shadow-color: rgba(0, 0, 0, 0.5);
    --card-border-color: rgba(0, 0, 0, 0.2);
    --gray-light: #666;
    --gray-dark: #333;
}